{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'htmx.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock %} | LCMS Intranet</title>
</head>
<body class="bg-slate-800">
    <div class="relative flex">
        <div class="w-48 bg-slate-900 text-slate-100 space-y-3 fixed top-0 left-0 min-h-screen">
<!--            logo -->
            <div class="px-6 py-3 text-left bg-slate-600">
                <a href="/" class="text-xl font-semibold">LCMS Intranet</a>
            </div>
            {% if request.user.is_authenticated %}
            <div class="text-center italic font-semibold">
                Utilisateur : {{ request.user }} {{ request.user.is_staff }}

                {{request.user.groups }}

            </div>
            <hr class="mx-3">
            {% endif %}
            <nav class="px-3 space-y-3">
                <!-- MENU -->
                <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                    <i class="align-middle bi-house-door text-slate-400" style="font-size: 24px;"></i>
                    <a href="{% url 'core:index' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Accueil</a>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                        <i class="bi-kanban text-slate-400" style="font-size: 24px;"></i>
                        <a href="{% url 'dashboard' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Tableau de bord</a>
                    </div>
                    <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                        <i class="bi-people text-slate-400" style="font-size: 24px;"></i>
<!--                        <a href="{% url 'employees:index' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Personnel</a>-->
                        <button class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200" hx-push-url="true" hx-get="{% url 'employees:index' %}" hx-target="#mainContent" hx-swap="outerHTML">Personnel</button>
                    </div>
                    <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                        <i class="bi-people text-slate-400" style="font-size: 24px;"></i>
<!--                        <a href="{% url 'employees:index' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Personnel</a>-->
                        <button class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200" hx-push-url="true" hx-get="{% url 'employees:companies' %}" hx-target="#mainContent" hx-swap="outerHTML">Sociétés</button>
                    </div>
                    <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                        <i class="bi-files text-slate-400" style="font-size: 24px;"></i>
                        <a href="{% url 'gesdoc:index' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Gestion documentaire</a>
                    </div>
                    <hr>
                    {% if request.user.is_staff %}
                        <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                            <i class="bi-pencil-square text-slate-400" style="font-size: 24px;"></i>
                            <a href="{% url 'core:signup' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Création utilisateur</a>
                        </div>
                        <hr>
                {% endif %}
                    <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                        <i class="bi-door-open text-slate-400" style="font-size: 24px;"></i>
                        <a href="{% url 'core:logout' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="flex px-3 py-1 text-middle hover:bg-gray-700 rounded transition duration-200">
                        <i class="bi-box-arrow-in-right text-slate-400" style="font-size: 24px;"></i>
                        <a href="{% url 'core:login' %}" class="block p-3 text-sm font-semibold hover:bg-gray-700 rounded transition duration-200">Connexion</a>
                    </div>
                {% endif %}
                <hr>
                <div class="px-3 text-left">
                    <h3 class="text-sm text-slate-400 font-semibold">LCMS Intranet V1.0</h3>
                </div>
            </nav>
        </div>
        <div id="mainContent" class="ml-48 flex-1 bg-slate-800">
            <div class="w-full p-2.5 pr-3 bg-slate-600 text-slate-100 text-2xl text-right uppercase italic">
                {% block big_title %}
                {% endblock %}
            </div>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>