{% extends 'core/base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <h1 class="mb-6 text-xl font-bold text-slate-800 text-center">LCMS - Tableau de bord</h1>
    <div class="w-1/3 p-3 mb-3 text-center bg-slate-500 rounded-t-xl">
        <h3>Sélections médicales</h3>
    </div>
    <div class="w-1/3 bg-slate-100">
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
    </div>
    <div class="w-1/3 bg-slate-400">
        <h3 class="my-3 p-3 text-center">A renouveler bientôt</h3>
    </div>
    <div class="w-1/3 bg-slate-100">
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>
        <p class="px-3 text-m">Tom Machin</p>

    </div>
{% endblock %}