{% extends 'core/base.html' %}
{% load companytags %}
{% block title %}
Tableau de bord
{% endblock %}

{% block title_head %}
Tableau de bord
{% endblock %}
{% block big_title %}

    Tableau de bord
{% endblock %}
{% block content %}

<div class="m-3">
    <div class="text-2xl w-1/5 text-center p-3 mb-3 text-slate-100 bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900 rounded">Situation des sociétés</div>
    <div class="table rounded">
        <div class="table-header-group ">
          <div class="table-row bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900" >
            <div class="table-cell text-left p-3 text-white font-semibold border-b border-slate-100">Nom</div>
            <div class="table-cell text-center p-3 text-white font-semibold border-b border-slate-100">Nbr. d'employés</div>
          </div>
        </div>
        <div class="table-row-group p-3 bg-slate-700 text-slate-100">
        {% for company in companies %}
            <div class="table-row hover:bg-slate-500 transition duration-800">
                <div class="table-cell p-3 align-middle text-slate-100 text-left border-b border-slate-700">
                    {{ company }}
                </div>
                <div class="table-cell p-3 align-middle text-slate-100 text-center border-b border-slate-700">
                    {{ employees|countEmployeesInCompany:company.id }}
                </div>
            </div>
        {% endfor %}
  </div>
</div>

{% endblock %}