{% extends 'core/base.html' %}

{% block title %}
Tableau de bord
{% endblock %}

{% block title_head %}
Tableau de bord
{% endblock %}
{% block big_title %}

    Tableau de bord
{% endblock %}
{% block content %}

<div class="m-3">
    <div class="w-1/5 p-3 text-center bg-slate-500 rounded-t-xl">
        <h3 class="text-white font-semibold">Sélections médicales</h3>
    </div>
    <div class="w-1/5 bg-slate-100">
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm bg-orange-300">Tom Machin</p>
    </div>
    <div class="w-1/5 bg-slate-400">
        <h3 class="p-3 text-white text-center font-semibold">A renouveler bientôt</h3>
    </div>
    <div class="w-1/5 bg-slate-100 rounded-b-xl">
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>
        <p class="px-3 py-1 text-sm">Tom Machin</p>

    </div>
</div>

{% endblock %}