{% extends 'core/base.html' %}
{% load companytags %}
{% block title %}
  Gestion des sociétés
{% endblock %}

{% block title_head %}
  Gestion des sociétés
{% endblock %}
{% block big_title %}
    Gestion des sociétés
{% endblock %}

{% block content %}
<div class="m-3">
  <nav class="mb-3">
    <div class="flex flex-row w-full space-x-3">
        <a href="{% url 'employees:new_company' %}" class="py-1 px-3 bg-slate-200 hover:bg-slate-400 transition duration-200 text-slate-800 rounded">Ajouter</a>
    </div>
  </nav>
  <div class="table w-full">
    <div class="table-header-group">
      <div class="table-row bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900 text-center">
        <div class="table-cell p-3 text-white font-semibold border-t border-b border-slate-100">Nom</div>
        <div class="table-cell p-3 text-white font-semibold border-t border-b border-slate-100"># Employés</div>
        <div class="table-cell p-3 text-white font-semibold border-t border-b border-slate-100">Voir les employés
          <span><i class="bi-funnel text-green-400" style="font-size: 16px;"></i></span>
        </div>
        <div class="table-cell p-3 text-white font-semibold border-t border-b border-slate-100">Forme juridique</div>
        <div class="table-cell p-3 text-white font-semibold border-t border-b border-slate-100">Modifier</div>
        <div class="table-cell p-3 text-white font-semibold border-t border-b border-slate-100">Supprimer</div>
      </div>
    </div>
    <div class="table-row-group ">
      {% for company in companies %}
        <div class="table-row bg-slate-600 hover:bg-slate-500 text-center">
          <div class="table-cell p-3 text-slate-100 border-b border-slate-700">{{ company.name }}</div>
          <div class="table-cell p-3 text-slate-100 border-b border-slate-700">
            {{ employees|countEmployeesInCompany:company.id }}
          </div>
          <div class="table-cell p-3 text-slate-100 border-b border-slate-700">
            <button hx-push-url="true" hx-target='#mainContent' hx-swap="outerHTML" hx-get="{% url 'employees:employees_on_company_filtered' company.id %}">
              <i class="bi-people text-green-400" style="font-size: 24px;"></i>
            </button>
          </div>
          <div class="table-cell p-3 text-slate-100 border-b border-slate-700">{{ company.legal_form }}</div>
          <div class="table-cell p-3 align-middle text-slate-100 text-center border-b border-slate-700">
            <button hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-push-url="true" hx-target='#mainContent' hx-swap="outerHTML" hx-post="{% url 'employees:edit_company' company.id %}">
            <i class="bi-pencil-square text-green-400" style="font-size: 24px;"></i></button>
          </div>
          <div class="table-cell p-3 align-middle text-slate-100 text-center border-b border-slate-700 ">
            <a href="{% url 'employees:delete_company' company.id %}"><i class="bi-slash-circle text-red-400" style="font-size: 24px;"></i></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}