{% extends 'core/base.html' %}
{% load categorytags %}
{% block title %}
Création d'un employé
{% endblock %}

{% block title_head %}
Création d'un employé
{% endblock %}

{% block content %}
<div class="w-full md:w-4/5 my-6 p-6 text-center mx-auto bg-slate-700 text-slate-100 ">
  <h1 class="mb-6 text-3xl">Création d'un employé</h1>
  {% if employee %}
    <form method="POST" action="{% url 'employees:edit_employee' employee.id %}" enctype="multipart/form-data">
  {% else %}
    <form method="POST" action="{% url 'employees:new_employee' %}" enctype="multipart/form-data">
  {% endif %}

    {% csrf_token %}
      <div>
        <table class="table-fixed bg-slate-600 w-4/5 mx-auto">
          <tbody>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Photo</label></td>
              <td class="w-4/5">
                {% if employee %}
                  <img class="mx-auto m-3 w-32 h-32" src={{ employee.picture.url }}>
                {% else %}
                  {{ form.picture }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Nom</label></td>
              <td class="w-4/5 pr-3">{{ form.lastname }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Prénom</label></td>
              <td class="w-4/5 pr-3">{{ form.firstname }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Société</label></td>
              <td class="w-4/5 pr-3">{{ form.company }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Catégorie</label></td>
              <td class="w-4/5 pr-3">{{ form.category_employees }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Sélect. médic.</label></td>
              <td class="w-4/5 pr-3">{{ form.has_selection_medical }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Date début</label></td>
              <td class="w-4/5 pr-3">{{ form.starting_date }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Date fin</label></td>
              <td class="w-4/5 pr-3">{{ form.ending_date }}</td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Créé par</label></td>
              <td class="w-4/5 pr-3">
                {% if employee %}
                  {% if request.user.is_authenticated %}
                    {{ form.created_by }}
                  {% endif %}
                {% else %}
                    {{ form.created_by }}
                {% endif %}

              </td>
            </tr>
            <tr>
              <td class="w-1/5 p-3 text-left"><label class="text-xl">Créé le</label></td>
              <td class="w-4/5 pr-3">{{ form.created_at }}</td>
            </tr>
            <tr>
              <td class="pr-3" colspan="2">
                <button class="my-3 py-4 px-8 text-lg bg-green-500 hover:bg-green-600 text-white" type="submit">Enregistrer</button>
                <a href="{% url 'employees:index' %}" class="w-32 py-5   px-8 text-lg bg-red-500 hover:bg-red-600  text-white">Annuler</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      {% if form.errors or form.non_field_error %}
      <div class="mb-3 6 bg-red-100 ">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}

        {{ form.non_field_errors }}
      </div>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}