{% extends 'core/base.html' %}
{% load categorytags %}
{% block title %}
Création d'un employé
{% endblock %}

{% block title_head %}
Création d'un employé
{% endblock %}

{% block content %}
<div class="w-full md:w-4/5 my-6 p-6 text-center mx-auto bg-slate-700 text-slate-100 rounded-xl">
  <h1 class="mb-6 text-3xl">Création d'un employé</h1>
  {% if employee %}
    <form method="POST" action="{% url 'employees:edit_employee' employee.id %}" enctype="multipart/form-data">
  {% else %}
    <form method="POST" action="{% url 'employees:new_employee' %}" enctype="multipart/form-data">
  {% endif %}

    {% csrf_token %}
    <div class="grid grid-cols-2 grid-flex space-x-3">
      <div class="mb-3 col-span-2">
        {% if employee %}
          <img class="mx-auto rounded-full w-32 h-32" src={{ employee.picture.url }}>
        {% else %}
          <label class="inline-block mb-2">Photo</label><br>
          {{ form.picture }}
        {% endif %}
      </div>

      <div class="mb-3">
        <label class="inline-block mb-2">Nom</label><br>
        {{ form.lastname }}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Prénom</label><br>
        {{ form.firstname }}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Société</label><br>
        {{ form.company }}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Catégorie</label><br>
        {{ form.category_employees }}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Sélect. médic.</label><br>
        {{ form.has_selection_medical }}
      </div>

      <div class="mb-3">
        <label class="inline-block mb-2">Date début</label><br>
        {{ form.starting_date }}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Date fin</label><br>
        {{ form.ending_date }}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Créé par</label><br>
        {% if request.user.is_authenticated %}
        {{ form.created_by }}
        {% endif %}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Créé le</label><br>
        {{ form.created_at }}
      </div>

      {% if form.errors or form.non_field_error %}
      <div class="mb-3 6 bg-red-100 rounded-xl">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}

        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <button class="py-4 px-8 text-lg bg-green-500 hover:bg-green-600 rounded-xl text-white" type="submit">Enregistrer</button>
      <a href="{% url 'employees:index' %}" class="py-4 px-8 text-lg bg-red-500 hover:bg-red-600 rounded-xl text-white">Annuler</a>
    </div>
  </form>
</div>
{% endblock %}